---
---

/**
 * SapphDavis.me Light Theme
 *
 * Originally written for Blog.KyLeggiero.me
 *
 * @author Ky Leggiero
 * @since 2018-09-17
 */


[data-target-theme="light"] {
    display: block;
    display: initial;
    display: unset;
}
