{% if site.external-links.github        %}<link href="https://github.com/{{ site.external-links.github }}" rel="me" />{% endif %}
{% if site.external-links.patreon       %}<link href="https://patreon.com/{{ site.external-links.patreon }}" rel="me" />{% endif %}
{% if site.external-links.ko-fi         %}<link href="https://ko-fi.com/{{ site.external-links.ko-fi }}" rel="me" />{% endif %}
{% if site.external-links.dribbble      %}<link href="https://dribbble.com/{{ site.external-links.dribbble }}" rel="me" />{% endif %}
{% if site.external-links.flickr        %}<link href="https://www.flickr.com/{{ site.external-links.flickr }}" rel="me" />{% endif %}
{% if site.external-links.linkedin      %}<link href="https://www.linkedin.com/in/{{ site.external-links.linkedin }}" rel="me" />{% endif %}
{% if site.external-links.pinterest     %}<link href="https://www.pinterest.com/{{ site.external-links.pinterest }}" rel="me" />{% endif %}
{% if site.external-links.twitter       %}<link href="https://www.twitter.com/{{ site.external-links.twitter }}" rel="me" />{% endif %}
{% if site.external-links.stackoverflow %}<link href="https://stackoverflow.com/{{ site.external-links.stackoverflow }}" rel="me" />{% endif %}
{% if site.external-links.youtube       %}<link href="https://youtube.com/{{ site.external-links.youtube }}" rel="me" />{% endif %}
{% if site.external-links.email         %}<link href="mailto:{{ site.external-links.email }}" rel="me" />{% endif %}
{% if site.external-links.rss           %}<link href="{{ site.baseurl }}/feed.xml" rel="me" />{% endif %}
