<h2>Caution!</h2>

<p>This website is currently being targeted by one or more people wishing to imply my involvement with their abusive and criminal acts. Only the content on this site and on my personal social media accounts represents me. Links from anywhere else might be posted by these criminals, or by others who wish me harm.</p>

<p>Do not engage with these people. If they harrass you, report them as necessary. If they send you child abuse imagery or similar, you should report them to the United States Department of Justice. Instructions can be found at <a href="https://www.justice.gov/criminal-ceos/report-violations#reportcp" target="_blank">https://www.justice.gov/criminal-ceos/report-violations</a>.</p>

<p>Stay safe, and God bless.</p>
