// Candy Shop
// http://bit.ly/BH-Candy-Shop
:root {
    --code-bg-default: #ECEFF1;
    --code-bg-read-only: #D7CCC8;
    --code-bg-gutter: #F0F3F6;
    --code-bg-current-line: #DDE3E6;
    --code-bg-selection: #FFFFFF;
    --code-bg-selection-alt: #BBDEFB;

    --code-bg-added: #C8E6C9;
    --code-bg-changed: #BBDEFB;
    --code-bg-removed: #E0E0E0;
    --code-bg-conflict: #FFCDD2;

    --code-bg-search-result: #FFECB3;
    --code-bg-current-identifier: #BCAAA4;
    --code-bg-editing-current-identifier: #FF8A65;
    --code-bg-matching-braces: #FFEE58;
    --code-bg-unmatched-brace: #FF7043;

    --code-bg-warning: #FDD835;
    --code-bg-error: #E57373;

    --code-bg-program-counter: #C8E6C9;
    --code-bg-program-counter-sub-expression: #81C784;
    --code-bg-breakpoint: #FFCDD2;
    --code-bg-bookmark: #BBDEFB;

    --code-bg-2nd-language: #E8F5E9;


    --code-fg-default: #263238;
    --code-fg-whitespace: #CFD8DC;
    --code-fg-line-number: #607D8B;

    --code-fg-comments: #757575;
    --code-fg-documentation-comments: #4CAF50;
    --code-fg-documentation-comment-keywords: #00E676;
    --code-fg-todo-and-fixme-comments: #D500F9;

    --code-fg-string-literals: #F4511E;
    --code-fg-character-literals: #FF5722;
    --code-fg-number-literals: #FF7043;
    --code-fg-keywords: #2196F3;
    --code-fg-keywords-alt: #EC407A;
    --code-fg-url: #5C6BC0;
    --code-fg-markup-language-attributes: #607D8B;
    --code-fg-internal-class-names: #689F38;
    --code-fg-internal-function-method-names: #00796B;
    --code-fg-internal-function-method-names-alt: #2196F3;
    --code-fg-internal-runtime-constants: #7E57C2;
    --code-fg-internal-types: #AB47BC;
    --code-fg-internal-instance-variables: #00C853;
    --code-fg-internal-class-variables: #00C853;
    --code-fg-internal-compiler-macros: #8D6E63;
    --code-fg-external-class-names: #33691E;
    --code-fg-external-function-method-names: #26A69A;
    --code-fg-external-function-method-names-alt: #0D47A1;
    --code-fg-external-runtime-constants: #5E35B1;
    --code-fg-external-types: #7B1FA2;
    --code-fg-external-instance-variables: #4CAF50;
    --code-fg-external-class-variables: #4CAF50;
    --code-fg-external-compiler-macros: #5D4037;

    --code-fg-log-verbose: #546E7A;
    --code-fg-log-debug: #7E57C2;
    --code-fg-log-info: #2196F3;
    --code-fg-log-warning: #F57F17;
    --code-fg-log-error: #F44336;
    --code-fg-log-assert: #FF1744;
}

// Midnight Snack
// http://bit.ly/BH-Midnight-Snack
.brightness-dark,
.brightness-black,
.code-highlighting-midnight-snack {
    --code-bg-default: #161C20;
    --code-bg-read-only: #201A16;
    --code-bg-gutter: #11161A;
    --code-bg-current-line: #1A2226;
    --code-bg-selection: #000000;
    --code-bg-selection-alt: #2A373E;

    --code-bg-added: #0B280D;
    --code-bg-changed: #003033;
    --code-bg-removed: #424242;
    --code-bg-conflict: #580E0E;

    --code-bg-search-result: #7F4C00;
    --code-bg-current-identifier: #3E2723;
    --code-bg-editing-current-identifier: #952A09;
    --code-bg-matching-braces: #FDD835;
    --code-bg-unmatched-brace: #D84315;

    --code-bg-warning: #806F00;
    --code-bg-error: #B71C1C;

    --code-bg-program-counter: #113B14;
    --code-bg-program-counter-sub-expression: #1B5E20;
    --code-bg-breakpoint: #580E0E;
    --code-bg-bookmark: #003033;

    --code-bg-2nd-language: #0B280D;


    --code-fg-default: #EEEEEE;
    --code-fg-whitespace: #37474F;
    --code-fg-line-number: #90A4AE;
    --code-fg-comments: #757575;

    --code-fg-documentation-comments: #4DB6AC;
    --code-fg-documentation-comment-keywords: #FFEB3B;
    --code-fg-todo-and-fixme-comments: #EEFF41;

    --code-fg-string-literals: #F4511E;
    --code-fg-character-literals: #FF5722;
    --code-fg-number-literals: #FF7043;
    --code-fg-keywords: #2196F3;
    --code-fg-keywords-alt: #EC407A;
    --code-fg-url: #5C6BC0;
    --code-fg-markup-language-attributes: #90A4AE;
    --code-fg-internal-class-names: #8BC34A;
    --code-fg-internal-function-method-names: #26A69A;
    --code-fg-internal-function-method-names-alt: #2196F3;
    --code-fg-internal-runtime-constants: #7E57C2;
    --code-fg-internal-types: #FFEB3B;
    --code-fg-internal-instance-variables: #4CAF50;
    --code-fg-internal-class-variables: #4CAF50;
    --code-fg-internal-compiler-macros: #8D6E63;
    --code-fg-external-class-names: #CCFF90;
    --code-fg-external-function-method-names: #A7FFEB;
    --code-fg-external-function-method-names-alt: #82B1FF;
    --code-fg-external-runtime-constants: #B39DDB;
    --code-fg-external-types: #FFFF8D;
    --code-fg-external-instance-variables: #B9F6CA;
    --code-fg-external-class-variables: #B9F6CA;
    --code-fg-external-compiler-macros: #BCAAA4;

    --code-fg-log-verbose: #546E7A;
    --code-fg-log-debug: #7E57C2;
    --code-fg-log-info: #2196F3;
    --code-fg-log-warning: #FFEB3B;
    --code-fg-log-error: #F44336;
    --code-fg-log-assert: #FF1744;
}

.highlight {
    
    width: fit-content;
    margin: auto;

    &.code-highlighting-alt,
    .code-highlighting-alt & {
        --code-bg-selection: var(--code-bg-selection-alt);
        --code-fg-keywords: var(--code-fg-keywords-alt);
        --code-fg-internal-function-method-names: var(--code-fg-internal-function-method-names-alt);
        --code-fg-external-function-method-names: var(--code-fg-external-function-method-names-alt);
    }

    pre {
        transition-property: background, color;

        border: 1px solid hsla(0, 0%, 0%, 0.2);
        background: var(--code-bg-default);
        color: var(--code-fg-default);

        line-height: 1.5;
        tab-size: 4;

        cursor: text;

        @media (max-width: 80ex) { // If the screen is too thin, wrap the code
            min-width: 40ex;
            max-width: 100vw;
            white-space: pre-wrap;
        }

        ::selection {
            background: var(--code-bg-selection);
        }

        pre {
            border-style: none;
            background: none;
        }

        .rouge-table {
            margin: -1em;
        }

        .gutter {
            border-radius: 2px;
            background: var(--code-bg-gutter);
            color: var(--code-fg-line-number);
        }

        .lineno {
            background: none;
            text-align: right;
            text-align: end;
        }

        .k,
        .kd,
        .kc { // Keyword
            color: var(--code-fg-keywords);
        }

        .kt { // Type name
            color: var(--code-fg-internal-class-names);
            font-weight: bold;
        }

        .s, // String literal
        .se { // String escape sequences
            color: var(--code-fg-string-literals);
        }

        .mi, // Integer literal
        .mf { // Floating-point literal
            color: var(--code-fg-number-literals);
        }

        .c1 { // Comment
            color: var(--code-fg-comments);
        }

        .n { // Property name
            // Rouge cannot reliably pick these out
            // color: var(--code-fg-internal-instance-variables);
        }

        .nf { // Function name
            color: var(--code-fg-internal-function-method-names);
        }
    }
}
