@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');


@font-face {
    font-family: 'OpenDyslexic';
    font-style: normal;
    font-weight: normal;
    font-display: auto;
    src: url('/fonts/OpenDyslexic3-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'OpenDyslexic';
    font-style: normal;
    font-weight: bold;
    font-display: auto;
    src: url('/fonts/OpenDyslexic3-Bold.ttf') format('ttf');
}

@font-face {
    font-family: 'OpenDyslexic';
    font-style: italic;
    font-weight: normal;
    font-display: auto;
    src: url('/fonts/OpenDyslexic-Italic.otf') format('otf');
}

@font-face {
    font-family: 'OpenDyslexic';
    font-style: italic;
    font-weight: bold;
    font-display: auto;
    src: url('/fonts/OpenDyslexic-BoldItalic.otf') format('otf');
}



:root {
    --font-size-body: 12pt;

    --font-family-serif: "EB Garamond";
    --font-family-sans-serif: "Roboto";
    --font-family-dyslexic: "OpenDyslexic";
}



h1, h2, h3, h4, h5, h6 {
    .entry>&:first-child {
        padding-top: 0;
    }
}



.font-serif {
    --font-family-primary: var(--font-family-serif), serif;
    --font-size-body: 14pt;
    --font-weight-body: 500;
}

.font-sans-serif {
    --font-family-primary: var(--font-family-sans-serif), sans-serif;
}

.font-dyslexic {
    --font-family-primary: var(--font-family-dyslexic), serif;
}
